<%- include ../layout/header -%>

					<form action="/login" method="post" id="form-loginUser">
						<div class="col-md-6 col-md-offset-3 contact-right">

							<h5>Usuario (*)</h5>
							<input type="text" class="form-control" name="username" id="input-usernameUser">
							<h5>Contraseña (*)</h5>
							<input type="password" class="form-control" name="password" >
							</br></br>
							<button type="submit" class="btn btn-primary btn-lg" id="btn-loginUser">Enviar</button>

						</div>

				</form>
	
<%- include ../layout/footer -%>